---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="L7kQKTLw5zXndVb7cRJyC5fhp", oauth_nonce="dcd78dfc87accd05aa9c49081867f332",
        oauth_signature="3SaAf6BcWj7MZ6Svips5622t7CE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450382051", oauth_token="79853872-4ksr9b9ExRV2UL9Pmag9OqbwlhfE91HPl5sZUW1wS",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 19:54:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 2c94c5dcdbe58d38007bf5fc55eca4ca
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '7'
      X-Rate-Limit-Reset:
      - '1450382316'
      X-Response-Time:
      - '36'
      X-Transaction:
      - 6db91113ed52ce85
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":79853872,"id_str":"79853872","name":"Marlo M. Major","screen_name":"marlomajor","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":33,"friends_count":49,"listed_count":1,"created_at":"Sun
        Oct 04 23:03:30 +0000 2009","favourites_count":21,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":24,"lang":"en","status":{"created_at":"Thu
        Dec 17 19:17:15 +0000 2015","id":677568258015293440,"id_str":"677568258015293440","text":"Word
        of advice. DO NOT SWITCH TO ANOTHER FRONT END FRAMEWORK HOURS BEFORE THE SOFTWARE
        IS DUE","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003etwitter_clone_new\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":true,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/577014442807922688\/Henge5HG_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/577014442807922688\/Henge5HG_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/79853872\/1426406069","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 19:54:11 GMT
[...]
