<h1>Twitter</h1>

<% if current_user %>
  <p>Welcome to Twitter, <%= current_user.name %></p>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Login with Twitter", login_path %>
<% end %>
